.profile-details {
    row-gap: 1.5rem;
    justify-content: flex-start;
    border: 1px solid var(--content-text-color);
    padding: 2rem;
}

.account-details-heading {
    font-size: 2.4rem;
    color: var(--content-text-color);
}

.account-name, .account-email {
    font-size: 1.6rem;
    column-gap: 2rem;
    color: var(--content-text-color);
}

.profile-logout-btn {
    margin-top: 1rem;
    color: var(--content-text-color);
    background-color: var(--danger-darker-color);
}