.page-not-found-container {
    width: 100%;
    padding: 6rem 2rem 4rem 2rem;
    row-gap: 1rem;
    margin: auto;
}

.page-not-found-heading {
    font-size: 2.4rem;
    color: var(--accent-color);
}

.page-not-found-img {
    width: 35rem;
    height: 35rem;
}

.home-btn {
    background-color: transparent;
    color: var(--content-text-color);
    border: 1px solid var(--accent-color);
}

.home-btn:hover {
    background-color: var(--accent-darker-color);
}

/* ------------------------------> Responsive CSS <------------------------------ */
@media only screen and (max-width: 400px) {
    .page-not-found-img {
        width: 30rem;
        height: 30rem;
    }
}