.card {
    width: 28rem;
    box-shadow: none;
    background-color: var(--primary-color);
    border: 1px solid var(--code-bg-color);
}

.card-img {
    height: auto;
}

.card-header {
    font-size: 2rem;
    color: var(--heading-txt-color);
    font-weight: 500;
    margin-right: 0;
}

.card-title {
    font-size: 1.8rem;
    color: var(--content-text-color);
}

.header-and-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.delete-icon {
    font-size: 1.8rem;
    padding: 0 1rem;
    padding-right: 1.4rem;
    color: var(--danger-color);
}

.video-card-display-none {
    display: none;
}