.sidebar {
    background-color: var(--secondary-color);
    overflow-y: auto;
    height: calc(100vh - 2rem);
    position: sticky;
    top: 0;
}

.sidebar-nav {
    align-items: flex-start;
    padding: 0 0 1rem;
}

.sidebar-tabs-container {
    width: 100%;
    row-gap: 1rem;
}

.sidebar-item {
    justify-content: flex-start;
    padding: 1rem;
    font-size: 2rem;
    color: var(--content-text-color);
    column-gap: 1rem;
    padding-left: 3rem;
}

.sidebar-icon-img {
    width: 2.5rem;
    height: 2.5rem;
}

.tab-active {
    background-color: var(--sidebar-tab-active-color);
}

.mobile-bottom-nav {
    display: none;
    background-color: var(--secondary-color);
    bottom: 0;
    height: 5rem;
    justify-content: space-evenly;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.mobile-nav-item {
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--content-text-color);
    row-gap: 1rem;
}

.mobile-nav-icon-img {
    width: 1.3rem;
    height: 1.3rem;
}

/* -----------------------------------------> Responsive CSS <------------------------------------ */
@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .mobile-bottom-nav {
        display: flex;
    }
}